@model IEnumerable<Concerts.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.ConcertId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketState.TicketStateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
